<div class="card" style="margin-bottom: 10px">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name: <%= comment.name %></li>
  </ul>
  <div class="card-body">
    <p class="card-text"><%= comment.body %></p>
  </div>
</div>