<div id="comment_message" class="alert" role="alert"></div>
<div class="card" style="margin-bottom: 10px">
  <%= form_with url: url, html: { onsubmit:"return false;", id: 'comment_form'} do |f| %>
    <div class="card-body">
      <%= f.label 'comment[body]', t('blog.comments.views.form.body'), class:"form-label" %>
      <%= f.text_area 'comment[body]', class: "form-control", required: true %>
    </div>
    <div class="card-body">
      <%= f.submit t('blog.comments.views.form.submit'), class: "btn btn-primary", onclick: 'addComment();' %>
    </div>
  <% end %>
</div>
