<% set_meta_tags(
  title: @page.meta_title,
  description: @page.meta_description,
  keywords: @page.meta_keywords,
  canonical: page_url(@page),
) %>
<%= render partial: 'admin/layouts/panel', locals: { url_edit: edit_admin_page_path(@page), url_destroy: admin_page_path(@page) } %>
<div class="card" style="margin-bottom: 10px">
  <h1 class="card-header"><%= @page.title %></h1>
  <div class="card-body">
    <%= raw @page.body %>
  </div>
</div>
<%= render partial: 'admin/layouts/panel', locals: { url_edit: edit_admin_page_path(@page), url_destroy: admin_page_path(@page) } %>
