
@import "active_admin/mixins";
@import "active_admin/base";

@import 'trix';

trix-editor {
    background-color: #fff;
}

trix-toolbar .trix-button {
   border-bottom: 0px solid #ddd; 
   background-color: #fff;
}