<% if admin_user_signed_in? %>
  <div class="container text-center" style="margin: 10px">
    <% {'Posts': admin_posts_path, 
    'Pages': admin_pages_path, 
    'Comments': admin_comments_path, 
    'Categories': admin_categories_path,
    'Admin Users': admin_admin_users_path
    }.each do |name, url| %>
      <%= link_to name, url, class: "btn btn-primary", role: "button" %>
    <% end %>
  </div>
<% end %>
