<% if model.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul class="list-group">
      <% model.errors.full_messages.each do |message| %>
        <li class="list-group-item"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>